[submodule "cltl-combot"]
	path = cltl-combot
	url = /Users/tkb/automatic/workspaces/robo/leolani-namespace/cltl-combot
	branch = main
[submodule "cltl-requirements"]
	path = cltl-requirements
	url = /Users/tkb/automatic/workspaces/robo/leolani-namespace/cltl-requirements
	branch = main
[submodule "cltl-demo-component"]
	path = cltl-demo-component
	url = /Users/tkb/automatic/workspaces/robo/leolani-namespace/cltl-demo-component
	branch = main
[submodule "cltl-demo"]
	path = cltl-demo
	url = /Users/tkb/automatic/workspaces/robo/leolani-namespace/cltl-demo
	branch = main
[submodule "util"]
	path = util
	url = https://github.com/leolani/cltl-build
	branch = main
