[submodule "cltl-combot"]
	path = cltl-combot
	url = https://github.com/leolani/cltl-combot.git
	branch = main
[submodule "cltl-requirements"]
	path = cltl-requirements
	url = https://github.com/leolani/cltl-requirements.git
	branch = main
[submodule "cltl-demo-component"]
	path = cltl-demo-component
	url = ../cltl-demo-component
	branch = main
